#course-wrapper {
  position:relative;
  border: 1px solid black;
  color: black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 90px;
}

#course-wrapper:hover {
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#course-id {
  position:absolute;
  bottom:0;
  right: 10px;
  font-size: 12px;
}