#course-wrapper {
  position:relative;
  background-color: slategray;
  color: white;
  text-align: start;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

#course-wrapper:hover {
  transition: all 0.3s ease;
  background-color: rgb(147, 159, 170);
  cursor: pointer;
}

#course-id {
  position:absolute;
  bottom:0;
  right: 10px;
  font-size: 12px;
}