#menu-wrapper {
  width: fit-content;
  position: relative;
  color: black;
  background-color: white;
  border-radius: 1px;
  padding: 10px;
  border-radius: 5px;
}

#close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

